body{
	height: auto;
}
#page-header{
	text-align: center;
	background-color: rgba(140, 12, 29);
	box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
#page-header h4{
	color: #fff;
	padding: 13px 0;
	background-color: #198406;
}
.content-div{
	width: 100%;
	margin: 0 auto;
}
#nav-tabContent{
	width: 90%;
	margin: 30px auto;
}
.nav-link{
	font-weight: bold;
}
.alert-icon{
	padding-right: 10px;
}
#check-alert{
	text-align: center;
	font-size: 14px;
}
.check-condition-div{
	padding: 13px 20px 20px 20px;
	border: 1px solid #ccced1;
	border-radius: 10px;
	background-color: #f2f2f2;
}
#table-content{
	margin-top: 30px;
}
label{
	font-weight: bold;
	font-size: 15px;
}
.button-div{
	text-align: center;
	width: 100%;
}
.button-div button{
	padding: 5px 40px;
	font-weight: bold;
}
#check-button-div{
	width: 100%;
	text-align: left;
}
#check-button-div button{
	padding: 5px 25px;
	font-weight: bold;
}
#print-table-btn{
	background-color: #FF8800;
	color: #fff;
}
#show_user_button{
	font-weight: bold;
	padding: 5px 15px;
	margin-bottom: 15px;
}
#print-button-div{
	margin: 30px 0;
}
#print-button-div span{
	font-size: 13px;
	color: #666;
}
.fas, .far{
	padding-right: 10px;
}
#nav-new{
	width: 45%;
}
#add_new_item_alert{
	text-align: center;
	margin-top: 20px;
}
#serial_num_check_alert{
	padding: 3px 20px 10px 40px;
	margin: 0;
}
#check-table, #check-table .del-btn .item_del_btn{
	text-align: center;
}
#check-table, #check-table .del-btn .item_del_btn i{
	text-align: center;
}
#check-table td{
	text-align: left;
}
#check-table th, #check-table td{
	font-size: 14px;
	font-weight: normal;
}
#check-table tbody tr .right-align-td{
	text-align: right;
}
.verticle-line-check{
	width: 0%;
	margin: 0 auto;
	height: 100%;
	border-left: 3px solid #ddd;
}
/*//////////////////////tabs align left side/////////////////////////*/
#nav-tab{
	margin-top: 5px;
	padding: 30px 0 30px 30px;
	border-bottom: none;
	border-right: 1px solid #b2b2b2;
	background-color: #c4ffca;
}
#nav-tab li{
	margin-right: -1px;
	padding: 3px 0 3px 3px;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-radius: 4px 0 0 4px;
}
#nav-tab li .active{
	color: #198406;
	border-right: none;
	border-top: 1px solid #b2b2b2;
	border-left: 6px solid #198406;
	border-bottom: 1px solid #b2b2b2;
	border-radius: 4px 0 0 4px;
}
#nav-tab li a{
	padding-left: 40px;
	transition: 0.2s;
}
#nav-tab li a:hover{
	background-color: #96ff9f;
	border-radius: 4px 0 0 4px;
	padding-left: 50px;
}
/*//////////////////////////////////////////////////////////*/
.verticle-line{
	border-left: 2px solid #ddd;
	padding-left: 10px;
}
#logout-div{
	text-align: center;
	padding: 15px 0;
	border-right: 1px solid #b2b2b2;
}
#logout-div h4{
	padding: 5px 0;
}
#logout-div a{
	color: #fff;
	padding: 5px 20px;
}
#logout-div p{
	font-size: 14px;
	color: #0ecc14;
}
.form-button{
	margin-top: 20px;
}
#user_table{
	text-align: center;
}
#user_table th, #user_table td{
	font-weight: normal;
}
#calendar-div{
	border-right: 1px solid #b2b2b2;
}
#user-reg-alert{
	width: 60%;
	margin: 20px auto; 
}
#user-reg-alert #close{
	float:right;
    padding:2px 5px;
    opacity: 0.6
}
#close:hover {
    float:right;
    padding:2px 5px;
    opacity: 1;
}
/*////////////datepicker style///////////////////*/
.ui-datepicker {
	width: 10em;
	padding: .2em .2em 0;
	display: none;
    background:#4F6828;
    border-color: #4F6828;  
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 1.3em;
	line-height: 1em;
	text-align: center;
    color:#FFFFFF;
    background:#4F6828;  
}
.ui-datepicker table {
	width: 100%;
	font-size: .3em;
	border-collapse: collapse;
    font-family:verdana;
	margin: 0 0 .4em;
    color:#000000;
    background:#DCEAC8;   
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .5em;
	text-align: right;
	text-decoration: none;
}
/*///////////////form validation index//////////*/
input:not([type="file"]).error,
select.error {
  border: 1px solid #f43f45 !important;
}
 
input:not([type="file"]).no-error,
select.no-error {
  border: 1px solid green !important;
}
form .error {
  color: #f43f45;
  font-size: small;
}
form .no-error{
	color: green;
	font-size: small;
}